{% verbatim %}

<script id="pages-home-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="multi-unit span-grid grid-icon">
        <div class="boxes-edit" data-box-name="Location"></div>
    </div>
  </div>
</div>
</script>

<script id="pages-locations-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="multi-unit span-grid grid-icon">
        <div class="boxes-edit" data-box-name="Location"></div>
    </div>
  </div>
</div>
</script>

<script id="pages-team-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="multi-unit span-grid grid-icon">
        <div class="boxes-edit" data-box-name="Team"></div>
    </div>
  </div>
</div>
</script>

<script id="pages-about-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box tall flag-icon" data-callout-name="about-page-top-content"></div>
    </div>
    <div class="unit one-of-two">
      <div class="callout-edit box tall flag-icon" data-callout-name="about-page-left-content"></div>
    </div>
    <div class="unit one-of-two">
      <div class="callout-edit box tall flag-icon" data-callout-name="about-page-right-content"></div>
    </div>
  </div>
</div>
</script>

<script id="pages-contact-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box short flag-icon" data-callout-name="contact-info"></div>
    </div>
    <div class="unit two-of-three">
      <div class="locked box"><a>Contact Form</a></div>
    </div>
    <div class="unit one-of-three">
      <div class="box grid-icon external-link"><a href="/bentobox/locations/">All Locations<span>Jumps to Boxes to Edit</span></a></div>
    </div>
  </div>
</div>
</script>

<script id="pages-presskit-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box grid-icon external-link"><a href="/bentobox/media-kit/">Edit Media Kit<span>Jumps to Boxes to Edit</span></a></div>
    </div>
  </div>
</div>
</script>

{% endverbatim %}