{% extends 'base.html' %}

{% load static %}
{% load honeypot %}
{% load extra_tags %}
{% block body_class %}contact{% endblock %}

{% block title %}Contact - Major Food Group{% endblock %}

{% block content %}
<div class="container" id="contact-content">
	<div class="row">
		<div class="large-10 columns large-offset-2">
			<h2>{{callouts.3.title}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns large-offset-2 medium-8">
            <div id="contact-intro">{{callouts.3.text | safe}}</div>
    		<form action="{% url 'form_to_email' %}" enctype="multipart/form-data" method="post">
        		{% render_honeypot_field %}
        		{% csrf_token %}
        		<input id="recipient" type="hidden" name="recipient" value="maya">
        		<label for='name'>Name</label>
        		<input type="text" id="name" name="Name" placeholder=""></input>
        		<label for='email'>Email</label>
        		<input type="text" id="email" name="Email" placeholder=""></input>
                <label for='reason'>Reason for inquiry</label>
                <div class="styled-select">
                    <select name="Reason" id="reason">
                        <option value="General" SELECTED>General</option>
                        <option value="Press">Press</option>
                        <option value="Employment">Employment</option>
                    </select>
                </div>
        		<label for='message' class="message">Message</label>
        		<textarea rows="5" type="text" id="message" name="Message" placeholder=""></textarea>
                <div id="resume_container" class="hide">
                    <label>Resume</label>
                    <input type="file" name="uploaded_file" id="uploaded_file" />
                    <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
                </div>
        		<input id="submit" type="submit" value="submit" class="submit">
      		</form>
		</div>
		<div class="large-3 columns end medium-4">
      		{% for location in locations %}
        		<h3>{{location.name}}</h3>
        		<span class="address">{{location.address | break_on_period | safe }}{%if location.phone_number%}<br>{{location.phone_number}}{% endif%}</span>
      		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
