{% load account_staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js {% block html_class_ie8 %}{% endblock %} lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js {% block html_class_gtie8 %}{% endblock %}" lang="en" > <!--<![endif]-->
<head>
  <!-- POWERED BY BENTOBOX | http//getbento.com -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="Description" content="{{ account.meta_description }}">
  <meta name="Keywords" content="{{ account.meta_keywords }}">
  <meta name="Revisit-After" content="5 Days">
  <meta name="Distribution" content="Global">
  <meta name="Rating" content="General">
  <meta name="Copyright" content="© Major Foods 2014">	  
  <meta property="og:type" content="restaurant.restaurant" />
  <link rel="icon" type="image/x-icon" href="{% account_static 'img/fav.ico' %}" />

  <title>{% block title %}Major Food Group{% endblock %}</title>

  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% account_static 'css/foundation.css' %}" />
  <link rel="stylesheet" href="{% account_static 'css/style.css' %}" />
  <script src="{% account_static 'js/vendor/modernizr.js' %}"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ account.ga_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="{% block body_class %}{% endblock %} preload">
<div class="html-mobile-background"></div>
{% block header %}
  <header class="show-for-small-only">
    <a href="/" id="logo"><img alt="Major Food Group" src="{% account_static 'img/header_logo.png' %}"></a>
    <a id="toggle-menu-header"><img alt="Open Menu" src="{% account_static 'img/menu_button.png' %}" id="box-menu"></a>
    <div id="header-popup-menu">
          <ul id="header-list">
                <li><a href="/#skip">Home</a></li>
              {% for nav in main_nav_items %}
                <li><a href="{% if nav.target %}{{ nav.target }}{% else %}{{ nav.get_absolute_url }}{% endif %}">{{ nav.name }}</a></li>
              {% endfor %}
                <li><a href="{{ press.first.file_url }}" target="_blank">Press Kit</a></li>
          </ul>
        </div>
  </header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
  <footer class="hide-for-small-only">
    {% for location in locations %}
    <a target="_blank" href="{{location.short_name}}" class="location-logo {{location.slug}}"><img alt="{{location.name}}" src="{% with loopcount=forloop.counter0 %}{% for gallery in galleries %}{% if gallery.name == 'Footer Logos' %}{% for image in gallery.images.all %}{% if forloop.counter0 == loopcount %}{{ image.image_url }}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endwith %}">
    </a>{% endfor %}
    <div class="footer-right">
      <a href="/#skip" id="logo"><img alt="Major Food Group" src="{% account_static 'img/footer_logo.png' %}"></a>
      <a id="toggle-menu-footer"><img alt="Open Menu" src="{% account_static 'img/menu_button.png' %}" id="box-menu-footer"></a>
    </div>
  </footer>
  <div id="footer-popup-menu">
    <ul>
      <li><a href="/#skip">Home</a></li>
      {% for nav in main_nav_items %}
        <li><a href="{% if nav.target %}{{ nav.target }}{% else %}{{ nav.get_absolute_url }}{% endif %}">{{ nav.name }}</a></li>
      {% endfor %}
        <li><a href="{{ press.first.file_url }}" target="_blank">Press Kit</a></li>
    </ul>
  </div>
{% endblock %}

  <script src="{{ ACCOUNT_STATIC_URL }}js/vendor/jquery.js"></script>
  <script src="{% account_static 'js/jquery.cycle2.min.js' %}"></script>
  <script src="{{ ACCOUNT_STATIC_URL }}js/foundation.min.js"></script>
  <script src="{{ ACCOUNT_STATIC_URL }}js/jQuery.succinct.min.js"></script>
  <script src="{{ ACCOUNT_STATIC_URL }}js/site.js"></script>
</body>
</html>
